<!-- index.html -->
{% extends '../base/base.html' %} 
{% block title %} 
Dealership Review 
{% endblock %} 

{% block content %}
<br/>

<!-- User input field and button -->
<form action="{% url 'djangoapp:get_dealerships' %}" method="GET">
    <label for="state">Search by State:</label>
    {% if state %}
        <input type="text" id="state" name="state" placeholder="{{ state }}">
    {% else %}
        <input type="text" id="state" name="state" placeholder="Enter state">
    {% endif %}
    <button type="submit">Search</button>
</form>

<table class="table" id="table" data-filter-control="true">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dealership</th>
            <th>City</th>
            <th>Address</th>
            <th>Zip</th>
            <th data-field="state" data-filter-control="select">State</th>
        </tr>
    </thead>
    <tbody>
        {% for dealer in dealerships %}
        <tr>
            <td>{{ dealer.id}}</td>
            <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.full_name}}</a></td>
            <td>{{ dealer.city }}</td>
            <td>{{ dealer.address }}</td>
            <td>{{ dealer.zip }}</td>
            <td>{{ dealer.state }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>



{% endblock %}